<h1>Meow Meow Editor</h1>
<form class="edit_cat" id="edit_cat" action="/cats/{{id}}" accept-charset="UTF-8" method="post">
  <p>
    <input placeholder="{{name}}" value = {{name}} type="text" name="name" id="cat_name" /><br><br>
    <input placeholder="{{image}}" value = {{image}} type="text" name="image" id="cat_image" /><br><br>
    <textarea placeholder="Life Story" name="life_story" id="cat_life_story" />
  </p>
